---
const { frontmatter } = Astro.props;

import "bootstrap/dist/css/bootstrap.min.css";
import "bootstrap-icons/font/bootstrap-icons.css";
import '../styles/global.css';

const pageTitle = "Project";
---

<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Summ3r Cod3 - {pageTitle}</title>
</head>
<body>

<div style="min-height: 50vh" class="bg-grid">

</div>
<header>
    <section>
        <div class="lr px-1 py-3">
            <h1>{frontmatter.title}</h1>
            <p>Written by <a class="text-decoration-none" style="color: var(--accent-color)" href={frontmatter.github_user}>{frontmatter.author}</a></p>
        </div>
    </section>
</header>

<slot />

<section>
    <div class="lr px-1 py-3">
        <div class="d-flex flex-row gap-3">
            <div class="col-sm">
                <a class="vertical-text text-decoration-none bolder text-white" href="/">
                    <i class="bi bi-arrow-90deg-left"></i>
                    Go Back |
                </a>
            </div>
            <div class="col-sm d-flex justify-content-end align-items-end">
                <p class="vertical-text-rl">
                    ...
                </p>

            </div>
        </div>
    </div>
</section>

<footer class="pt-4 text-center">
    <p>&copy; 2025 Summ3r Cod3 | Brutalist Web Design</p>
</footer>

<!-- Bootstrap JavaScript Bundle with Popper -->
<script>
    // Astro will bundle and process this automatically
    import 'bootstrap/dist/js/bootstrap.bundle.min.js'
</script>
</body>
</html>
